:root {
	--color-primary: #1a1a1a;
	--color-link: #666666;
	--color-link-hover: #000000;
}

/*TO DO: responsive*/

h1,
h2,
h3 {
	font-family: "Cormorant Garamond", serif;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

body {
	font-family: "Montserrat", serif;
	color: var(--color-primary);
}

button {
	width: 150px;
}

p {
	text-align: justify;
}

a {
	color: var(--color-link);
	text-decoration: none;
}

a:hover {
	color: var(--color-link-hover);
}

header,
.wrapper {
	padding: 0 200px;
}

.main-heading {
	font-size: 100px;
}

.dashboard-img {
	width: 700px;
	/*TO DO: Fix here for smaller screens*/
	margin-left: 100px;
}

.about-img {
	width: 400px;
}

.upload-photo-form {
	margin-top: 50px;
	width: 600px;
}

.form-wrapper {
	width: fit-content;
	margin: 30px auto;
}

.file-form {
	border: 2px dashed #ccc;
	padding: 20px;
	cursor: pointer;
}